//colors patterns
$primary-color: #2096ff;
$secondary-color: #05ffa3;
$translucid-color: rgba(255, 255, 255, .9);

//utils variables
$header-height: 70px;
$linear-background: linear-gradient(to right, $primary-color , $secondary-color);

//font patterns
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-gl: 24px;
